@import "_variables";

// -------------------------
// Element 
ad-ms{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 32px;
    min-height: 32px;
    border: 1px solid #ccc;
    border-radius: 16px;
    
    &.ad-ms--focus {
        border-color: #1a73e8;
        height: auto;

        ad-ms-header {
            padding-left: 12px;            
        }

        & ad-ms-body {
            display: flex;
            border-top: 2px solid #f1f1f1;;
        }

        & .ad-ms-check {
            display: flex !important;
        }
    
        & .ad-ms-search {
            display: flex !important;
        }
        
        & .ad-ms-label--float {
            color: #1a73e8;;
        }

        & .ad-ms-arrow {
            rotate: (180deg);
            pointer-events: inherit;
        }

        & ad-ms-header-text {
            padding-left: 12px;
            left: 20px;
            right: 20px;
        }
    }

    & .ad-ms-search,
    & .ad-ms-check {
        cursor: pointer;
        pointer-events: inherit;
    }
}

// -------------------------
// Header and header content 
ad-ms-header{
    display: flex;
    position: relative;
    height: 32px;
    padding-left: 16px;
    padding-right: 12px;
   
    & ad-ms-label{
        display: flex;
        position: absolute;
        line-height: 20px;
        top: 6px;
        transition: all 0.1s ease-out;
        &.ad-ms-label--float {
            top: -7px;
            left: 12px;
            line-height: 12px;
            font-size: 0.75rem;
            background-color: #fff;
            padding-left: 4px;
            padding-right: 4px;
            transition: all 0.1s ease-out;
        }
    }
}

ad-ms-header-content {
    display: flex;
    flex: 1 1 0;
    position: relative;
    align-items: center;
   
    & .ad-ms-search {
        display: none;
        position: absolute;
        right: 20px;
        &--selected svg{
            fill: #1a73e8;
        }
    }
    
    & .ad-ms-check {
        display: none;
        cursor: pointer;
        & .ad-ms-selected{
            display: none;
        }
        & .ad-ms-not-selected{
            display: flex;
        }

        &--selected {
            & svg {
                fill: #1a73e8;
            }
            & .ad-ms-selected{
                display: flex;
            }
            & .ad-ms-not-selected{
                display: none;
            }
        }
    }

    & ad-ms-header-text {
        display: flex;
        position: absolute;
        align-items: center;
        height: 20px;
        width: auto;
        margin-right: 20px;
        overflow: hidden;
        white-space: nowrap;
        right: 0px;
        left: 0px;
    }

    & ad-search-box {
        display: none;
        position: absolute;
        left: 32px;
        right: 40px;
        width: 0px;
        transition: all 0.1s ease-out;

        &.ad-search-box--show {
            display: flex;
            width: auto;
            transition: all 0.1s ease-out;
        }
        & .ad-search-box{
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 20px;
            border: none;
            border-bottom: 1px solid #1a73e8;
            outline: none;
        }
    }
    & .ad-ms-arrow {
        position: absolute;
        right: 0px;
    }
}

// -------------------------
// Body
ad-ms-body {
    display: none;
    flex-direction: column;
    position: relative;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 18px;
    overflow: hidden;
}

// -------------------------
// List and list items 
ad-ms-l{
    display: flex;
    display: 1 1 auto;
    flex-direction: column;
    position: relative;
    min-height: 40px;
    max-height: 200px;
    overflow-y: auto;
}

ad-ms-li {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    align-items: center;
    height: 40px;
    padding-left: 12px;
    padding-left: 12px;
    border-bottom: 1px solid #f1f1f1;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        background-color: #f1f1f1;
    }

    & .ad-ms-li-check {
        margin-right: 12px;
        & .ad-ms-selected{
            display: none;
        }
        & .ad-ms-not-selected{
            display: flex;
        }

        &--selected {
            & .ad-ms-selected{
                display: flex;
            }
            & .ad-ms-not-selected{
                display: none;
            }
        }
    }

    & ad-ms-text {
        display: flex;
        position: absolute;
        margin-right: 16px;
        left: 44px;
        right: 0px;
        white-space: nowrap;
        overflow: hidden;
    }
}

ad-ms-li:nth-child(even){
    background-color: #f9f9f9;
    &:hover{
        background-color: #f1f1f1;
    }
}

ad-ms-li:last-child{
    border: none;
}
