ad-filter-drawer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: fixed;
  width: 0px;
  height: auto;
  top: 0;
  left: 0;
  padding: 0px;
  background-color: #fff;
  visibility: hidden;
  box-sizing: border-box;
  border-right: 1px solid #f1f1f1;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.02), 0 6px 10px 0 rgba(0, 0, 0, 0.014), 0 1px 18px 0 rgba(0, 0, 0, 0.012);
  z-index: 6;
  opacity: 0;
  transition: 0.5s all cubic-bezier(0.4, 0, 0.2, 1); }
  ad-filter-drawer-header {
    display: flex;
    width: 100%;
    height: 40px;
    min-height: 40px;
    align-items: center; }
  ad-filter-drawer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto; }
  ad-filter-drawer.ad-filter-drawer--show {
    width: 400px;
    visibility: visible;
    opacity: 1;
    transition: 0.1 all cubic-bezier(0.4, 0, 0.2, 1); }
  ad-filter-drawer-scrim {
    display: block;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 0;
    z-index: 5;
    transition: 0.5s all cubic-bezier(0.4, 0, 0.2, 1); }
    ad-filter-drawer-scrim.ad-filter-drawer-scrim--show {
      visibility: visible;
      opacity: 1;
      transition: 0.1 all cubic-bezier(0.4, 0, 0.2, 1); }

ad-close {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-left: auto;
  margin-right: 4px;
  cursor: pointer; }

ad-button {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  background-color: #f1f1ff;
  padding: 0 12px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 28px;
  font-size: 0.8rem;
  text-transform: capitalize; }
  ad-button:hover {
    background-color: #eee; }
