ad-dt {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  background-color: var(--ad-theme-surface, #fff);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  overflow-x: auto; }
  ad-dt.ad-dt__table--header-highlight .ad-dt__header-cell {
    background-color: ad-dt-header-highlight; }
  ad-dt.ad-dt__table--square-border {
    border-radius: 0px; }
  ad-dt.ad-dt__table--small .ad-dt__header-cell {
    height: 42px; }
    ad-dt.ad-dt__table--small .ad-dt__header-cell ad-icon {
      width: 28px;
      height: 28px;
      padding: 4px; }
  ad-dt.ad-dt__table--small .ad-dt__cell {
    height: 40px; }
  ad-dt.ad-dt__table--striped .ad-dt__row:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.03); }
    ad-dt.ad-dt__table--striped .ad-dt__row:nth-child(even):hover {
      background-color: rgba(0, 0, 0, 0.04); }

.ad-dt__table {
  min-width: 100%;
  border: 0;
  white-space: nowrap;
  border-collapse: collapse;
  table-layout: fixed; }
  .ad-dt__table--sticky-header .ad-dt__header-cell {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 1; }

.ad-dt__header-row {
  background-color: inherit; }

.ad-dt__header-cell {
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .0071428571em;
  text-decoration: inherit;
  text-transform: inherit;
  box-sizing: border-box;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 16px;
  padding-left: 16px;
  height: 56px;
  color: rgba(0, 0, 0, 0.87); }
  .ad-dt__header-cell--align-right {
    text-align: right; }
  .ad-dt__header-cell--align-center {
    text-align: center; }
  .ad-dt__header-cell--wrap {
    white-space: normal; }
    .ad-dt__header-cell--wrap ad-dt-c-text {
      white-space: normal !important; }
  .ad-dt__header-cell--sort {
    cursor: pointer; }
  .ad-dt__header-cell ad-dt-c {
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    align-items: center;
    width: 100%; }
    .ad-dt__header-cell ad-dt-c.ad-dt-c--show-icon ad-icon {
      display: flex; }
    .ad-dt__header-cell ad-dt-c.ad-dt-c--show-icon ad-dt-c-text {
      margin-right: 16px; }
    .ad-dt__header-cell ad-dt-c ad-icon {
      display: none;
      position: absolute;
      right: -16px;
      width: 32px;
      height: 32px;
      padding: 6px;
      border-radius: 50px;
      box-sizing: border-box;
      pointer-events: inherit;
      cursor: pointer; }
      .ad-dt__header-cell ad-dt-c ad-icon:hover {
        background-color: rgba(0, 0, 0, 0.04); }
    .ad-dt__header-cell ad-dt-c ad-dt-c-text {
      display: block;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }

.ad-dt__content {
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit; }

.ad-dt__row {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .ad-dt__row:hover {
    background-color: rgba(0, 0, 0, 0.04); }

.ad-dt__cell {
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 16px;
  padding-left: 16px;
  height: 52px;
  color: rgba(0, 0, 0, 0.87); }
  .ad-dt__cell--align-right {
    text-align: right; }
  .ad-dt__cell--align-center {
    text-align: center; }
  .ad-dt__cell--wrap {
    white-space: normal; }
